.root {
  display: flex;
  align-items: center;
  gap: 24px;

  .avatar-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px;

    svg {
      width: 112px;
      height: 112px;
    }
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;


    .name {
      font-weight: 800;
      font-size: 24px;
      line-height: 32px;
      color: var(--light-color);
    }

    .username {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
    }
  }
}
