@if (profile) {
  <div class="profile-card">

    <div class="avatar-container">
      <img [src]="profile.avatarUrl | pipes" [alt]="profile.firstName">
      <div class="avatar-container__descr">
        <p class="title">{{ profile.firstName }} {{ profile.lastName }}</p>
        <span class="subtitle">{{profile.username}}</span>
      </div>
    </div>

    <div class="profile-card__description">
      {{profile.description}}
    </div>

    <div class="profile-card__tags">
      @for (item of profile.stack; track $index) {
        <span class="skill-tag">{{item}}</span>
      }
    </div>

    <div class="profile-card__actions">
      <button class="btn">Подписаться</button>
    </div>
  </div>
} @else {
  <div class="loading">Loading...</div>
}
