<div class="profile-card">

  <div class="avatar-container">
    <img src="/assets/img/avatar.png" alt="avatar">
    <div class="avatar-container__descr">
      <p class="title">Райан Гослинг</p>
      <span class="subtitle">ryan.gosling</span>
    </div>
  </div>

  <div class="profile-card__description">
    Список навыков, который мы обсудили выше, — основа резюме, но не единственная его часть. Также можно рассказать о себе в классическом смысле — этот раздел можно добавить в сопроводительное письмо.
  </div>

  <div class="profile-card__tags">
    <div class="skill-tag">Angular</div>
    <div class="skill-tag">Angular</div>
    <div class="skill-tag">Angular</div>
    <div class="skill-tag">Angular</div>
    <div class="skill-tag">Angular</div>
    <div class="skill-tag">Angular</div>
  </div>

  <div class="profile-card__actions">
    <button class="btn">Подписаться</button>
  </div>
</div>