.h-1 {
  font-size: 48px;
  color: var(--light-color);
  font-weight: 800;
}

.h-2 {
  font-size: 36px;
  color: var(--light-color)
}

.h-3 {
  font-size: 28px;
  color: var(--light-color)
}

.h-4 {
  font-size: 24px;
  color: var(--light-color)
}

.h-5 {
  font-size: 20px;
  color: var(--light-color)
}

.h-5 {
  font-size: 18px;
  color: var(--light-color)
}