:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .form-container {
    display: grid;
    grid-template-columns: 400px 1fr;

  }
  .control-group {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
  }

  .control-label {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    position:  relative;

    input {
      width: 100%;
      margin-top: 8px;
      display: block;
      border: 1px solid var(--light-color);
      border-radius: 4px;
      padding: 12px 20px;
      background: var(--dark-color);
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      font-family: "JetBrains Mono", monospace;
      color: var(--light-color)
    }

    button {
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
      position: absolute;
      top: 50%;
      color: var(--light-color);
      transform: translateY(16%);
      right: 18px;
    }

    button.visible {
      color: var(--primary-color);
    }
  }

  .error-container {
    color: red;
    margin-bottom: 15px;
  }
}

:host::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, rgba(255,0,150,0.3), rgba(0,204,255,0.3));
  background-size: 600% 600%;
  animation: GradientAnimation 5s ease infinite;
  pointer-events: none; /* Позволяет кликам проходить сквозь анимацию */
}

@keyframes GradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
