<form action="" class="login-form" [formGroup]="form" (ngSubmit)="onSubmit($event)">
  <app-heading headingType="h1" text="Вход"></app-heading>

  <div class="control-group">
    <label class="control-label">
      Telegram username
      <input formControlName="username" type="text" placeholder="Введите логин">
    </label>
    <label class="control-label">
      Пароль
      <input formControlName="password" type="password" placeholder="Введите логин">
    </label>
  </div>
  <app-button text="Войти" type="primary" size="large"></app-button>
</form>

<img src="/assets/svg/login-logo.svg" alt="login-logo">
