<div class="root">
  <div class="subscribers">
    <div class="subscribers-head">
      <h6 class="title">
        Подписчики
      </h6>
      <span class="count">28</span>
    </div>
    <ul class="subscribers-list">
      <li class="subscribers-item">
        <img src="/assets/img/avatar-placeholder.png" alt="alt">
      </li>
      <li class="subscribers-item">
        <img src="/assets/img/avatar-placeholder.png" alt="alt">
      </li>
      <li class="subscribers-item">
        <img src="/assets/img/avatar-placeholder.png" alt="alt">
      </li>
      <li class="subscribers-item">
        <img src="/assets/img/avatar-placeholder.png" alt="alt">
      </li>
      <li class="subscribers-item">
        <img src="/assets/img/avatar-placeholder.png" alt="alt">
      </li>
      <li class="subscribers-item">
        <img src="/assets/img/avatar-placeholder.png" alt="alt">
      </li>
      <button class="subscribers-btn">
        <svg icon="plus"></svg>
      </button>
    </ul>
  </div>

  <div class="skills"></div>
  <div class="about"></div>
</div>
