<div class="root">
  <div class="container">
      <div class="logo-container">
        <img src="/assets/svg/logo.svg" alt="logo" class="logo">
      </div>

    <ul class="menu" >
      @for (menuItem of menuItems; track $index) {
        <li>
          <a class="menu-item" [routerLink]="menuItem.link" routerLinkActive="active">
            <svg [icon]="menuItem.icon"></svg>
            <span>{{menuItem.label}}</span>
           </a>
        </li>
      }
    </ul>

    <div class="subscribers">
      <p class="subscribers-title">Подписчики</p>

      @if(!(subscribers$ | async)) {
        <app-spinner></app-spinner>
      } @else {
        <ul class="subscribers-list">
          @for (profile of subscribers$ | async ; track profile.id) {
            <app-user-sub [avatar]="profile.avatarUrl | imgUrl" [firstName]="profile.firstName" [lastName]="profile.lastName"></app-user-sub>
          }
        </ul>
      }

      <button  class="subscribers-all">
        <a>
          Все подписчики
        </a>
        <svg [icon]="'arrow'"></svg>
      </button>
    </div>
  </div>
</div>

<footer class="profile" routerLinkActive="active">
  @if(!(userService$ | async)) {
    <app-spinner></app-spinner>
  } @else {
    <a class="profile-container" [routerLink]="['/settings']">
      <img [src]="profile()?.avatarUrl ? profile()?.avatarUrl : '/assets/img/avatar-placeholder.png'" alt="user">
      <p>{{profile()?.username}}</p>
      <a>
        <svg [icon]="'settings'"></svg>
      </a>
    </a>
  }
</footer>
