@import url("./fonts.scss");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --dark-color: #000000;
  --light-color: #FFFFFF;
  --primary-color: #AE7AFF;
  --dark-active: #161616;
  --dark-hover-color: #161616;
  --main-green: #98E9AB;
  --main-red: #E99898;
}


button {
  cursor: pointer;
  font-family: "JetBrains Mono", monospace;
}

body {
  background: var(--dark-color);
  color: var(--light-color);
  position: relative;
  line-height: 1;
  font-family: 'JetBrains Mono', monospace;
  background-image: url(/assets/img/login-background.jpg);
  background-size: cover;  /* Картинка будет покрывать весь экран */
  background-position: center;  /* Картинка будет центрироваться */
}


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.skill-tag {
  display: inline;
  font-weight: 700;
  height: 24px;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid var(--light-color)
}

.btn {
  border: none;
  background: var(--primary-color);
  color: var(--dark-color);
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.subtitle {
  font-size: 14px;
  line-height: 20px;
}

